.sidebarlo-header
    img.imgLogo(src="/assets/logo.png" alt="logo")
    h2= titulo 
ul.sidebarlo-links
    if (titulo == "Administrador")
        li
            a(href="/home")
                span.material-symbols-outlined home
                | Home
        li
            a(href="/agenda")
                span.material-symbols-outlined clinical_notes
                | Agregar Agenda
        li
            a(href="/calendario")
                span.material-symbols-outlined calendar_month
                | Calendario
        li
            a(href="/allmedicos")
                span.material-symbols-outlined medical_services
                | Medicos
    else if (titulo == "Secretaria")
        li
            a(href="/calendario")
                span.material-symbols-outlined calendar_month
                | Calendario
        li
            a(href="/allpaciente")
                span.material-symbols-outlined personal_injury
                | Pacientes
        li
            a(href="#")
                span.material-symbols-outlined clinical_notes
                | Sacar Turnos
        li
            a(href="/ingresarPaciente")
                span.material-symbols-outlined schedule
                | Ingresar Paciente
        li
            a(href="/register-login")
                span.material-symbols-outlined login
                | Registrate/Iniciar Sesion
.exit-link
    a(href="/")
        span.material-symbols-outlined logout
        | Salir