.sidebarlo-header
    img.imgLogo(src="/assets/logo.png" alt="logo")
    h2 ¡Agenda!
ul.sidebarlo-links
    li
        a(href="/")
            span.material-symbols-outlined home
            | Home
    li
        a(href="/calendario")
            span.material-symbols-outlined calendar_month
            | Calendario
    li
        a(href="/medicos")
            span.material-symbols-outlined medical_services
            | Medicos
    li
        a(href="/paciente")
            span.material-symbols-outlined personal_injury
            | Pacientes
    li
        a(href="#")
            span.material-symbols-outlined clinical_notes
            | Sacar Turnos
    li
        a(href="/agendarPaciente")
            span.material-symbols-outlined schedule
            | Agendar Paciente
    li
        a(href="/register-login")
            span.material-symbols-outlined login
            | Registrate/Iniciar Sesion
.exit-link
    a(href="#")
        span.material-symbols-outlined logout
        | Salir