h1= tituloMenu
.info-usuario
    a(href="/")
        if(titulo === "Administrador")
            p Administrador Johnny
        else 
            p Secretaria Lucia
        img(src="/assets/user-logo.webp" alt="Logo de usuario")