extends ./layout.pug
block content
  div.container2
    h2.calendario #{calendario[3][3].mes} #{calendario[3][3].anio}

    div.btn-group2
      a.btn-primario(href="/calendario/mes-anterior") Anterior
      a.btn-primario(href="/calendario") Mes Actual
      a.btn-primario(href="/calendario/mes-siguiente") Siguiente

    table.table-bordered2
      thead.cal
        tr.cal
          th.cal dom
          th.cal lun
          th.cal mar
          th.cal mié
          th.cal jue
          th.cal vie
          th.cal sáb
      tbody.cal
        each semana in calendario
          tr.cal
            each dia in semana
              if dia.isFromCurrentMonth
                td(class=(dia.esHoy ? 'highlight' : '')) #{dia.dia}
              else
                td.dia-fuera #{dia.dia}