extends ./layout.pug
block content
  header
    a(href="/" class="logo")
      img.imgLogo(src="assets/logo.png", alt="Agenda de Consultorios")
      h1 ¡Agenda de Consultorios!
  nav
    ul
      li: a.btn-primario(href="/medicos") Medicos
      li: a.btn-primario(href="#") Sacar Turnos
      li: a.btn-primario(href="/register-login") Registrate/Iniciar Sesion
      li: a.btn-primario(href="/calendario") Calendario
      li: a.btn-primario(href="/agendarPaciente") Agendar Paciente
      li: a.btn-primario(href="/paciente") Pacientes
  main
    p 
    p 
  footer
    p &copy; 2024 Agenda de Consultorios