extends ./layout.pug
block content
  header
    h1 ¡Agenda de Consultorios!
  nav
    ul
      li: a.btn-primario(href="/medicos") Medicos
      li: a.btn-primario(href="/medicos") Sacar Turnos
      li: a.btn-primario(href="/register-login") Registrate/Iniciar Sesion
      li: a.btn-primario(href="/calendario") Calendario
      li: a.btn-primario(href="/agendarPaciente") Agendar Paciente
  main
    p Saca tus turnos médicos de manera fácil y rápida.
    p Utiliza el menú de navegación para acceder a las secciones de la aplicación.
  footer
    p &copy; 2024 Agenda de Consultorios