extends ./layout.pug
block content
    form.forma-form(action="/allmedicos/crear" method="POST")
        label.forma-label(for="nombre") Nombre: 
        input.forma-input(type="text" name="nombre" required)

        label.forma-label(for="apellido") Apellido: 
        input.forma-input(type="text" name="apellido" required)

        label.forma-label(for="documento") DNI: 
        input.forma-input(type="text" name="dni" required)

        label.forma-label(for="fecha_nacimiento") Fecha de Nacimiento: 
        input.forma-input(type="date" name="fecha_nacimiento")

        label.forma-label(for="domicilio") Domicilio: 
        input.forma-input(type="text" name="domicilio" required)

        label.forma-label(for="sexo") Sexo: 
        select.forma-select(name="sexo" required)
            option(value="" disabled selected) Seleccione el sexo
            option(value="M") Masculino
            option(value="F") Femenino

        label.forma-label(for="domicilio") E-mail: 
        input.forma-input(type="email" name="email" required)

        label.forma-label(for="especialidades") Especialidades: 
        select.forma-select(name="especialidades" required)
            option(value="" disabled selected) Seleccione la especialidad
            each especialidad in especialidades
                option(value=especialidad.id_especialidad)= especialidad.descripcion
        
        label.forma-label(for="apellido") Matrícula: 
        input.forma-input(type="text" name="matricula" required)

        .div-botones
            button.forma-button(type="submit") Crear Médico
            button.forma-button(type="reset") Limpiar campos