.container2 {
    margin: 0 auto;
    width: 80%;
    text-align: center;
  }
  
  h2.calendario {
    text-align: center;
    color: #9f3647; 
    font-size: 48px;
  }
  
  .table-bordered2 {
    width: 100%;
    border: 1px solid #ddd;
    border-collapse: collapse;
  }

  .btn-group2{
    display: flex;
    justify-content: center;
  }
  
  th.cal, td.cal {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center;
  }
  
  .dia-fuera {
    background-color: #d3d3d3;
    color: #0e0d0d;
  }
  
  .highlight {
    background-color: #ffcccb;
    font-weight: bold;
  }
  
  .btn-primario {
    background-color: #429f36;
    color: white;
    border: none;
    padding: 10px 20px;
    margin: 10px;
    cursor: pointer;
    text-decoration: none;
  }
  
  .btn-primario:hover {
    background-color: darkcyan;
  }
  