* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    display: grid;
    grid-template-columns: 0px 1fr;
    grid-template-rows: 13vh 80vh 7vh;
    grid-template-areas:
        "aside header"
        "aside main"
        "aside footer";
    background-color: #0f0e0e;
}

.header {
    grid-area: header;
    margin: 0.4%;
    border-radius: 15px;
    background-color: rgb(250, 248, 248);
    box-shadow: 0px 3px 2px 2px #9f3647;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2%;
}

.sidebarlo-header {
    display: flex;
    align-items: center;
}

.sidebarlo-header img {
    width: 42px;
    border-radius: 50%;
}

.sidebarlo-header h2 {
    color: #9f3647;
    font-size: 1.5rem;
    font-weight: 600;
    white-space: nowrap;
    margin-left: 23px;
}

.main {
    grid-area: main;
    display: flex;
    justify-content: center;
    margin: 0 0.4% 0 0.4%;
    align-items: center;
    border-radius: 15px;
    background-color: rgb(252, 252, 252);
    box-shadow: 0px 3px 2px 2px #9f3647;
    padding: 2%;
    overflow: auto;
    box-sizing: border-box;
    -ms-overflow-style: none;
    scrollbar-width: none;
}


/* Estilo para el contenedor */
.container {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 20px;
    flex-wrap: wrap; /* Permite que las cajas se acomoden si no hay suficiente espacio */
  }
  
  /* Estilo para las cajas */
  .caja {
    flex: 1 1 200px; /* Permite que cada caja tenga al menos 200px de ancho y se ajuste automáticamente */
    max-width: 300px; /* Limita el ancho máximo de cada caja */
    padding: 20px;
    background-color: #f5f5f5;
    border: 2px solid #9f3647;
    border-radius: 10px;
    box-shadow: 0px 3px 2px 2px #9f3647;
    text-align: center;
    transition: transform 0.3s ease;
  }
  
  /* Efecto hover */
  .caja:hover {
    transform: scale(1.05);
  }
  
  /* Estilo para las imágenes dentro de las cajas */
  .caja img.icono-boton {
    width: 100%;
    height: auto;
    border-radius: 5px;
  }
  
  


.footer {
    grid-area: footer;
    margin: 0.4%;
    border-radius: 15px;
    background-color: rgb(250, 246, 246);
    box-shadow: 0px 3px 2px 2px #9f3647;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1%;
    font-weight: bold;
}